* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style-type: none;
}

body {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
button,
p {
    font-size: inherit;
    font-weight: inherit;
}

a,
img {
    border: 0;
    outline: 0;
    text-decoration: none;
}

a {
    color: inherit;
}

h1 {
    color: #020E35;
    font-size: 93px;
    font-weight: 700;
    margin-bottom: 50px;
}

h2 {
    color: #020E35;
    font-size: 40px;
    font-weight: 700;
}

h3 {
    color: #2B2B2B;
    font-size: 20px;
    font-weight: 700;
}

h4 {
    color: #2B2B2B;
    font-size: 20px;
}

.conteiner {
    max-width: 1170px;
    margin: 0 auto;
}

.divider {
    width: 170px;
    height: 4px;
    background: #E73587;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 26px;
}

/*
.title,
.name,
h1 {
    margin-bottom: 40px;
}*/

/*-----------------------------HEADER------------------------------------------*/
.header {
    height: 80px;
    box-shadow: 0px 5px 9px -5px rgba(34, 60, 80, 0.18);
}

.header .conteiner {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__logo {
    width: 100px;
    height: 120px;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
    background-color: #020E35;
}
.logo:hover path {
    fill: #8C32F0;
    transition: fill 0.6s;
} 
.header__logo::after {
    content: "";
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    position: absolute;
    width: 100px;
    height: 6px;
    top: 114px;
    left: 0;
}

.header__menu,
.header__menu ul,
.header__menu li,
.header__menu a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu li {
    width: 107px;
}

.header__menu a {
    width: 100%;
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.header__menu a:active {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

.header__menu li:last-child {
    height: 50%;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}
/*-----------bur version 1--------------*/
.header__logo{
    z-index: 3;
}
.burger-menu {
    width: 60px;
    height: 60px;
    display: none;
}

.burger-menu label {
    padding-block: 10px;
    position: relative;
    display: block;
    height: 100%;
    z-index: 6;
    background-color: transparent;
}

#check {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    right: 0;
}

.active {
    color: #FFF;
    font-size: 14px;
    padding-inline: 10px;
    font-size: 12px;
    font-style: inherit;
    font-weight: 600;
    line-height: normal;
}

.active:hover {
    background-color: #bb95e7;
}

[type=checkbox]:checked~label .lines .line {
    background-color: FFF;
}

.line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #270d44;
    position: absolute;
    left: 0;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in;
}

.line1 {
    top: 0;
}

.line3 {
    bottom: 0;
}

.line2 {
    top: 50%;
    transform: translateY(-50%)
}

[type=checkbox]:checked~label .lines .line2 {
    opacity: 0;
    background-color: #FFF;
}

[type=checkbox]:checked~label .lines .line1 {
    transform:rotate(135deg);
    top:18px;
    background-color: #FFF;
}

[type=checkbox]:checked~label .lines .line3 {
    transform:rotate(-135deg);
    top:18px;
    background-color: #FFF;
}

.header__checkk-menu {
    width: 100%;
    background: #020E35;
    background-blend-mode: overlay;
    border-bottom: 1px solid #8C32F0;
    position: fixed;
    height: 60px;
    top: 0;
    right: 0;
    z-index: 3;
    transition: 1.4s ease;
    transform: translateY(-100%);
    opacity: 0;
    padding-left: 120px;
}
.nav-checkk{
    width: (100% - 120px);
}
.nav-checkk,
.nav-checkk ul{
    height: 100%;
}
.nav-checkk ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

[type=checkbox]:checked~.header__checkk-menu {
    opacity: 1;
    transform: translateX(0);
}

/*-------------------------HOME-----------------------------*/
.home .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.home {
    padding: 160px 0;
    padding-bottom: 55px;
}

.home__promo {
    text-align: left;
    max-width: 650px;
}

.button {
    width: 140px;
    height: 40px;
    padding: 13px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #FFF;
    font-size: 12px;
}

.button:hover {
    animation: button 2s linear infinite reverse forwards;
}

@keyframes button {
    0% {
        background: linear-gradient(270deg, #8C32F0 0%, #E73587 0%);
    }

    20% {
        background: linear-gradient(270deg, #8C32F0 15%, #E73587 75%);
    }

    80% {
        background: linear-gradient(270deg, #8C32F0 20%, #E73587 85%);
    }

    90% {
        background: linear-gradient(270deg, #8C32F0 50%, #E73587 95%);
    }

    100% {
        background: linear-gradient(270deg, #8C32F0 10%, #E73587 90%);
    }
}

.home__pic {
    width: 630px;
    height: 456px;
    background-image: url(../img/kaput.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
}

.cir__blue {
    position: absolute;
    top: 13.25px;
    left: 347.3px;
    transform-origin: 49% 44%;
}

.cir__orange {
    position: absolute;
    right: 22px;
    top: 53px;
    transform-origin: 46.5% 46.5%;
}

.cir__orange2 {
    position: absolute;
    left: 69.7px;
    top: 227.6px;
    transform-origin: 50.4% 48%;
}

.cir__blue img {
    width: 51px;
    height: 51px;
}

.cir {
    animation-name: circle;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-timing-function: ease;
}


@keyframes circle {
    100% {
        transform: rotate(360deg);
    }
}

/*----------------------------about--------------------------*/

.about {
    padding: 80px 0;
    padding-bottom: 100px;
}

.about h2 {
    position: relative;
}

.about h4 {
    margin: 0 auto;
    width: 70%;
}

.about .conteiner {
    position: relative;
}

.circl {
    background-color: #F0F3FA;
    position: absolute;
    top: 16px;
    left: -25%;
    width: 276px;
    height: 276px;
    border-radius: 50%;
    animation: circlee 12s ease 2s infinite forwards;

}

@keyframes circlee {
    15% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.8;
    }

    50% {
        left: 100%;
    }

    65% {
        opacity: 0.4;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        left: -25%;
    }
}

/*.about h2::after {
    position: absolute;
    content: "";
    width: 276px;
    height: 276px;
    top: -20px;
    left: -290px;
    background-color: #F0F3FA;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}*/

/*----------------------------.services--------------------------*/

.services {
    padding-top: 25px;
    max-height: 490px;
    position: relative;
}

.services .divider {
    margin-bottom: 50px;
}

.services__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.item {
    padding: 355px 30px 10px 30px;
}

.item{
    display: grid;
    grid-template-rows: 15% 1.5fr 25%;
}

.item-button {
    height: 40px;
    padding: 14px;
    margin: 20px auto;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: #FFF;
    font-size: 12px;
}

.services__item .item {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 20px;
    background-position-x: 40px;
}

.services__item .item:first-child {
    background-color: #FDF8E3;
    background-image: url(../img/app.png);
}

.services__item .item:nth-child(2) {
    background-color: #F0F3FA;
    background-image: url(../img/web.png);

}

.services__item .item:last-child {
    background-color: #FEEFF0;
    background-image: url(../img/ui.png);

}

/*----------------------------work--------------------------*/

.work {
    padding-top: 550px;
    padding-bottom: 50px;
    background-color: #020E35;
}

.work h2 {
    color: #FFF;
}

.work__tab div {
    height: 390px;
}

.work__info h3 {
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 17px;
}

.work__info h4 {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.work__info p {
    color: #FFF;
}

.work__tab {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.work__info {
    padding: 20px;
}

.work__info,
.work__pic {
    width: 50%;
    margin-top: 70px;
}

.work__pic:first-child {
    background-color: #F09532;
    background-image: url(../img/pic__phone_slide.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.work__pic:nth-of-type(4) {
    background-color: #8C32F0;
    background-image: url(../img/pic__phone.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 29px;
}

.work__pic:nth-child(5) {
    background-color: #E73587;
    background-image: url(../img/pic__not.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.work__pic:last-child {
    background-color: #32D6F0;
    background-image: url(../img/pic__tab.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.work__tab .work__info:nth-child(2),
.work__tab .work__info:nth-child(6) {
    text-align: left;
}

.work__tab .work__info:nth-child(3),
.work__tab .work__info:nth-child(7) {
    text-align: right;
}

/*----------------------------contact--------------------------*/
h3 {
    color: #020E35;
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 90px;
    font-weight: 600;
    line-height: 110px;
}

h2 span {
    color: #E73587;
}

.contact {
    padding: 100px 0;
}

.contact .conteiner {
    display: flex;
    gap: 33px;
    justify-content: space-between;
}

.contact__form,
.contct__info {
    width: 50%;
}

.contct__info {
    text-align: left;
}

form {
    max-width: 554px;
}

label,
input {
    text-align: left;
    display: block;
}

label {
    color: #2C3241;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

input {
    width: 100%;
    padding: 6px 15px;
    margin-bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color: #2C3241;
    font-size: 18px;
    line-height: 36px;
}

input:active,
.texarea:active {
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset;
}
textarea:focus,
 input:focus {
    background-color: rgb(229, 202, 230);
    opacity: 0.6;
    border-color: #5d427c;
    outline: none;
}

.textarea {
    width: 100%;
    padding: 6px 15px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    color: #2C3241;
    font-size: 18px;
    line-height: 36px;
    justify-content: left;
    margin-left: 0;
}

.form-button {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    opacity: 0.5;
    cursor: not-allowed;
}

.form-button:active {
    opacity: 1;
    cursor: cell;
}


/*----------------------------footer--------------------------*/
.footer {
    height: 25px;
    padding: 5px 0;
    background-color: #020E35;
}

.copyright p {
    color: #FFF;
    font-size: 12px;
    text-align: left;
}
