* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

ul,
ol {
    list-style-type: none;
}

body {
    color: #2D3033;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-size: inherit;
    font-weight: inherit;
}

h5 {
    font-size: 24px;
    font-weight: 500;
}

a,
img {
    border: 0;
    outline: 0;
    text-decoration: none;
}

a {
    color: inherit;
}

h1 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 144px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

.poster h2 {
    font-size: 64px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

.conteiner {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.divider {
    width: 170px;
    height: 4px;
    background: #F38281;
    margin: 0 auto;
    margin-bottom: 70px;
}

.title,
.name,
h1 {
    margin-bottom: 40px;
}

/*header-poster*/
.header-poster {
    background-image: linear-gradient(0deg, rgba(237, 215, 137, 0.90) 0%, rgba(233, 130, 131, 0.90) 100%), url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: 100px;
    margin-bottom: 80px;
}

.header .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__menu ul {
    display: flex;
    justify-content: space-around;
}

.header__menu,
.header__menu ul,
.header__menu li,
.header__menu a {
    height: 100%;
}

.header__menu li {
    width: 114px;
}

.header__menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.header__menu a:hover {
    color: #F4BF87;
    border-bottom: 1px solid #F4BF87;
    font-size: 17px;
}

.poster__title {
    color: #FFF;
}

.poster .divider {
    background: #FFF;
    margin-bottom: 72px;
}

.button__poster {
    width: 370px;
    height: 80px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid #FFF;
    background: transparent;
    margin-bottom: 115px;
}

.button__poster:hover {
    background: #FFF;
    color: #F4BF87;
    border: transparent;
}

.button__poster:active {
    background: #FFF;
    color: #F4BF87;
}

.loading {
    display: flex;
    justify-content: space-between;
}

.loading__item {
    border-top: 4px solid #FFF;
    width: 270px;
    height: 85px;
    padding: 15px;
    text-align: left;
    color: #F9EFCF;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}

.loading__item:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 4px;
    top: -4px;
    left: 0;
    background-color: #FFF;
}

.loading__item:hover::before {
    width: 270px;
    height: 4px;
    transition: all 0.5s;
    background-color: #F38281;
}

h5 span {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

/*STORY*/
.story {
    padding-top: 50px;
    padding-bottom: 100px;
}

.story__text {
    padding-bottom: 100px;
}

.story__photo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.photo__item--1,
.photo__item--2,
.photo__item--3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 370px;
    width: 370px;
    position: relative;
}

.photo__item--1 {
    background-image: url(../img/photo1.jpg);
}

.photo__item--2 {
    background-image: url(../img/photo2.png);
}

.photo__item--3 {
    background-image: url(../img/photo3.png);
}

.item {
    height: 370px;
    width: 370px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

.item:hover {
    background: linear-gradient(0deg, rgba(237, 215, 137, 0.90) 0%, rgba(233, 130, 131, 0.90) 100%);
    transform: translate(-16px, -16px);
    transition: all 0.5s;
    box-shadow: 16px 16px 0px 0px rgba(149, 225, 211, 1);
}

.man {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 140px;
}

.item:hover .man {
    width: 30px;
    height: 30px;
    transition: all 0.6s;
}

.story p {
    color: transparent;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.item:hover p {
    color: #FFF;
}





/*.story__photo div:hover{
    background: linear-gradient(0deg, rgba(237, 215, 137, 0.90) 0%, rgba(233, 130, 131, 0.90) 100%);
    
}*/
/*.story__photo div::after{
    position: absolute;
    content: "";
    width: 370px;
    height: 370px;
    top: 0;
    left: 0;
    background-color: transparent;
}
.story__photo div:hover::after{
    position: absolute;
    content: "";
    width: 370px;
    height: 370px;
    top: -16px;
    left: -16px;
    background:linear-gradient(0deg, rgba(237, 215, 137, 0.90) 0%, rgba(233, 130, 131, 0.90) 100%);
    transition: all 0.5s;
}*/


/*static*/
.static {
    background-color: #95E1D3;
}

.static .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.static_block {
    height: 100%;
    width: 100%;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    border-left: 2px solid #FFF;
    padding: 70px 0;
}

.static_block:last-child {
    border-right: 2px solid #FFF;
}

.static_block h5 {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

/*service*/
.service {
    padding-top: 50px;
    padding-bottom: 100px;
}

/*.service__options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
}*/
.service__options {
    display: grid;
    justify-content: space-between;
    justify-items: left;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 148px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-items: left;
    row-gap: 20px;

}

.options .img {
    width: 70px;
    height: 70px;
    margin: 0 30px;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: span 2;
    justify-self: center;
}

.img--foto {
    background-image: url(../img/foto.svg);
}

.img--cube {
    background-image: url(../img/cube.svg);
}

.img--knife {
    background-image: url(../img/knife.svg);
}

.img--seo {
    background-image: url(../img/seo.svg);
}

.img--css {
    background-image: url(../img/css.svg);
}

.img--digital {
    background-image: url(../img/digital.svg);
}

.options img {
    grid-row: span 2;
    justify-self: center;
    align-items: none;
}

.options h3 {
    padding-top: 10px;
}

.options p {
    text-align: left;
    color: #2D3033;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*----------------------------desigh-------------------*/
.design {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.80)), url(../img/mount.png);
    padding-top: 50px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.design {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.80)), url(../img/mount.png);
    padding-top: 50px;
    padding-bottom: 58px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pad div {
    margin: 0 auto;
}

.pad__pic {
    background-image: url(../img/pad.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 659px;
    height: 494px;
    position: relative;
    z-index: 1;
}

.pad__border {
    background-image: url(../img/border.png);
    position: relative;
    top: -20px;
    left: -250px;
    width: 1170px;
    height: 525px;
}

.phone__pic {
    background-image: url(../img/ph.png);
    position: absolute;
    top: 194px;
    right: -44px;
    width: 187px;
    height: 394px
}

.phone__border {
    right: -8px;
    background-image: url(../img/phone.png);
    position: absolute;
    width: 200px;
    height: 412px
}

/*-----------------------work-------------------*/
.work {
    padding-top: 50px;
    padding-bottom: 100px;
}

.work__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.work__item--pic {
    background-image: url(../img/chel.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
}

/*---------------rewier------------------------*/
.rewier {
    padding-block: 42px;
    padding-inline: 100px;
    background-color: #F8F8F8;
}

.rewiers {
    display: flex;
    gap: 30px;
}

.rewier__pic {
    padding: 40px;
    border: 2px solid #95E1D3;
    height: fit-content;
}

.rewier__info {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    align-items: center;
    justify-items: left;
}

.rewier .divider {
    width: 70px;
    margin-top: 38px;
}

.rewier__info--text {
    grid-column: span 2;
    color: #A9AFB1;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    text-align: left;
}

/*----------------team--------------*/
.team {
    padding-block: 42px;
    padding-inline: 100px;
}

.team__authors {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

.author {
    position: relative;
}

.author--pic {
    height: 430px;
    width: 370px;
    margin-bottom: 28px;
}

.author:first-child .author--pic {
    background-image: url(../img/kadin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.author:nth-child(2) .author--pic {
    background-image: url(../img/zain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.author:last-child .author--pic {
    background-image: url(../img/charle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.author--name {
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 16px;
}

.author__social {
    height: 430px;
    width: 370px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

.author__social:hover:not(.author__social--icon) {
    background: linear-gradient(0deg, rgba(237, 215, 137, 0.90) 0%, rgba(233, 130, 131, 0.90) 100%);
    transform: translate(-16px, -16px);
    transition: all 0.5s;
    box-shadow: 16px 16px 0px 0px rgba(149, 225, 211, 1);
}

.author__social--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.author__social:hover .author__social--icon {
    opacity: 1;
}

.icon:hover rect {
    fill: #F38281;
}

.icon:hover svg path {
    fill: #FFF;
}

/*------------------collection--------------*/
.collection {
    padding-block: 42px;
    background-color: #F8F8F8;
}

.collection__figur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.collection__figur div {
    width: 127.12px;
    height: 127.12px;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes fig {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.collection__figur div:hover {
    animation: fig 3s linear infinite forwards;
}

.figur1 {
    background-image: url(../img/s1.svg)
}

.figur2 {
    background-image: url(../img/s2.svg)
}

.figur3 {
    background-image: url(../img/s3.svg)
}

.figur4 {
    background-image: url(../img/s4.svg)
}

.figur5 {
    background-image: url(../img/s5.svg)
}

.figur6 {
    background-image: url(../img/s6.svg)
}

/*---------------field-----------------*/
.field {
    padding-block: 84px;
}

.field__pic {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 1fr);
}

.field__pic div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pic1 {
    background-image: url(../img/pic1.png);
}

.pic2 {
    background-image: url(../img/pic2.png);
}

.pic3 {
    background-image: url(../img/pic3.png);
}

.pic4 {
    background-image: url(../img/pic4.png);
}

.pic5 {
    background-image: url(../img/pic5.png);
}

.pic6 {
    background-image: url(../img/pic6.png);
}

.pic7 {
    background-image: url(../img/pic7.png);
}

.pic3 {
    grid-column: 3;
    grid-row: 1/span2;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pic__about--title {
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 16px;
}

.pic__about--title,
.pic__about--subtitle {
    color: #FFF;
}

.pic__about--icon {
    margin-bottom: 57px;
}

.pic__about {
    background: linear-gradient(0deg, rgba(237, 215, 137, 0.90) 0%, rgba(233, 130, 131, 0.90) 100%);
    transition: all 0.5s;
    padding-block: 118px;
    opacity: 0;
}

.pic__about:hover {
    opacity: 1;
}

.pic3 .pic__about {
    height: 100%;
    padding-block: 266px;
}

/*---------------rewier__second-------------см. выше-----------*/

.rewier__second .rewier__pic {
    border: none;
    border-radius: 50%;
}

.rewier__second .divider {
    width: 70px;
    margin-top: 38px;
}


/*--------------------people---------------------*/
.people {
    padding-top: 50px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)), url(../img/people.png);
}

/*.service__options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
}*/
.people__options {
    display: grid;
    justify-content: space-between;
    justify-items: left;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
}

.people__options .options {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: none;
    justify-items: left;
}

.people .options__img {
    width: 130px;
    height: 130px;
    margin-right: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    justify-self: center;
}

.options__info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.options__info p:nth-child(2) {
    text-transform: uppercase;
    margin-bottom: 30px;
}


.img--foto1 {
    background-image: url(../img/foto1.svg);
}

.img--foto2 {
    background-image: url(../img/foto2.svg);
}

.img--foto3 {
    background-image: url(../img/foto3.svg);
}

.img--foto4 {
    background-image: url(../img/foto4.svg);
}

.options .options__img {
    border-radius: 50%;
}

.options .divider {
    margin-left: 0;
    margin-bottom: 60px;
    width: 70px;
}

.options p {
    text-align: left;
}

.people__options .options h3 {
    padding-block: 10px;
}

/*-------------------------------------BLOG----------------*/
.blog__info {
    padding-block: 84px;
}

.blog__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.item__footer {
    display: flex;
    gap: 16px;
}

.item__pic {
    height: 253px;
    position: relative;
    background-image: url(../img/blog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.item__pic--data {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 148px;
    left: -14px;
    background-color: #95E1D3;
    padding-block: 5px;
    color: #FFF;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.item__pic--title{
    margin-bottom: 10px;
}
.item__pic--subtitle {
    margin-bottom: 20px;
    text-align: left;
}
.item__pic--data span {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.item__footer--icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item__footer--icon:first-child {
    background-image: url(../img/542.svg);
}

.item__footer--icon:nth-child(3){
    margin-left: 32px;
    background-image: url(../img/Group.svg);

}
.blog__block--item:hover .item__pic--data{
    animation: trans 1.5s  ease-out ;
}
@keyframes trans{
   45%{
    top:-5px;
   }
   60%{
    top:165px;
   }
    90%{
        top:90px;
    }
}


/*----------------------blo___map----------------*/
.blog__map {
    padding-block: 42px;
    color: #F38281;
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(../img/map-fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 2s ease-in-out;
}
.map__icon{
    margin-bottom: 42px;
    transition: all 0.5s ease-in-out;
}

.blog__map:hover .map__icon{
   height: 90px;
   width: 90px;
   margin-bottom: 70px;
}

.blog__map:hover{
    animation:map 1s ease-in-out normal forwards;
}

@keyframes map{
    25%{
        background-image: linear-gradient(rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.87)), url(../img/map-fon.png);
    }
    50%{
        background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/map-fon.png);
    }
    75%{
        background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../img/map-fon.png);
    }
    100%{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/map-fon.png);
    }

}
/*--------------------news-------------------------------*/
.news{
    padding-top: 78px;
    padding-bottom: 48px;
}
.news .conteiner{
    border-bottom: 1px solid #A9AFB1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding-bottom: 50px;
}
/*----mogo---*/
.mogo__logo{
    width: 140px;
    height: 38px;
    margin-bottom: 40px;
  }
  .mogo__subtitle{
    color: #C6CBCD;
    text-align: left;
    margin-bottom: 82px;
  }
  .mogo__followers{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    padding: 20px 0;
    border-bottom: 1px solid rgba(198, 203, 205, 1);
    margin-bottom: 20px;
  }
  .numb{
    font-size: 36px;
  }
  .foll{
    font-style: italic;
    font-weight: 400;
  }
  .mogo__follow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }
  .mogo__follow--text{
    color: #C6CBCD;
    width: 70px;
    font-size: 15px;
    font-style: italic;
    text-align: left;
    align-items: center;
    display: flex;
  }
  .mogo__follow--icons{
    display: flex;
    gap: 10px;
  }
  .mogo__follow--icons:hover svg{
    fill: rgb(31, 187, 159);
    transition: 1s ease-out;
  }
  .input{
    display: flex;
  }
  .input__form{
    border: 1px solid rgba(198, 203, 205, 1);
    color: #C6CBCD;
    width: 234px;
    height: 55px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-block: 15px;
    cursor: pointer;
  }
  .button__input{
    width: 133px;
    height: 55px;
    border: none;
    background-color: rgb(86, 212, 189);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease-out;
  }
  .button__input:hover{
    background-color: #1fbb9f;
  }
  .button__input:active{
    background-color: #146f5e;
    box-shadow: 11px 13px 12px -7px #6f9c94;
  }

/*----blog---*/
.blogs__block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 17px;
    row-gap: 33px;
}
.blogs__text h3{
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}
.blogs__text p{
    font-size: 13px;
    text-align: left;
}
.blogs__pic{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blogs__pic:first-child{
    background-image: url(../img/b1.png);
}
.blogs__pic:nth-child(3){
    background-image: url(../img/b2.png);
}
.blogs__pic:nth-child(5){
    background-image: url(../img/b3.png);
}

 /*--insta--*/
.news__insta--pic{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, auto);
    gap: 2px;
    margin-bottom: 50px;
}
.news__insta--title,
.news__blogs--title{
    margin-bottom: 50px;
    text-align: left;
}

.news__insta--link{
    text-decoration-line: underline;
    text-align: left;
}
.news__insta--pic div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #F8F8F8;
    height: 100px;
}
.news__insta--pic .pic:first-child{
    background-image: url(../img/i1.png);
}
.news__insta--pic .pic:nth-child(2){
    background-image: url(../img/i2.png);
}
.news__insta--pic .pic:nth-child(3){
    background-image: url(../img/i3.png);
}
.news__insta--pic .pic:nth-child(4){
    background-image: url(../img/i4.png);
}
.news__insta--pic .pic:nth-child(5){
    background-image: url(../img/i5.png);
}
.news__insta--pic .pic:nth-child(6){
    background-image: url(../img/i6.png);
}
.news__insta--pic .pic:nth-child(7){
    background-image: url(../img/i7.png);
}
.news__insta--pic .pic:nth-child(8){
    background-image: url(../img/i8.png);
}
.news__insta--pic .pic:nth-child(9){
    background-image: url(../img/i9.png);
}
.news__insta--pic .pic:hover{
    filter: brightness(40%);
}



/*-------------------.footer-------------------*/
.footer{
    padding-block: 15px;
}
.footer__text{
    color: #2D3033;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}